/**
 * @Name:Frosted Glass 
 * @author Gibbu#1211 (Edited by 🎄Ale✘🎄#7801)
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/FrostedGlass/base.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
  --background-image: url('https://i.imgur.com/kYW2H5C.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 3px;
  --popout-modal-size: cover;
  --popout-modal-position: center center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0.02;
  --popout-modal-brightness: 0.76;
  --gradient-primary: 103,58,183;
  --gradient-secondary: 63,81,181;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --link-colour: #00b0f4;
  --gradient-direction: 320deg;
  --tint-colour: 156,39,176;
  --tint-brightness: 0.08;
  --font: 'Permanent Marker';
  --window-padding: undefinedpx;
  --window-roundness: 1px;
  --show-gift-gif-buttons: block;
  --update-notice-1: none;
  --server-icon-size: 35px;
  --server-icon-spacing: 7px;
  --server-container-padding: 10px;
  --rs-small-spacing: 0px;
  --rs-large-spacing: 5px;
  --rs-width: 2.5px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d}
